<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>some website</title>
        
    </head>
    <h1>we will be right back</h1>
    <p>
        The site is currently being updated
    </p>
    </html>