<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project page</title>
        
    </head>
    <body>
        {{> header}}
        <p>Enter the project material here</p>
        
           {{> footer}}
    </html>